.sidebar {
    background-color: #1b1d2a;
    width: auto;
    color: #fff;
    height: 100%;
}

.buttons {
    width: 100%;
}

.sdB {
   background-color: #1b1d2a!important;
   height: 100vh;
   position: fixed;
   width: 228px;
}
a{
    text-decoration: none;
    color: inherit;
}

.buttonMenu{
    color: #fff;
    cursor: pointer;
}

.buttonMenu:hover{
    width: auto;
    height: 40px;
    border-radius: 5px;
    background-color: #48ff00;
    transition: all 0.5s;
}